@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: url("./bgg.jpeg");
  background-size: cover;
  color: rgb(247, 114, 19);

  padding-top: 2rem;
  overflow-x: hidden;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

h1 {
  font-size: 90px;
  letter-spacing: 5px;
  font-family: "Caveat", cursive;
}

.todo-app {
  width: 500px;
  background: rgba(246, 156, 78, 0.05);
  backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 2rem;
  box-shadow: 8px, 8px, 5px, 3px rgba(0, 0, 0, 0.5);
}

.todo-app h2 {
  font-size: 2.2rem;
  color: #faa039;
  text-align: center;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  padding-left: 20px;
  margin: 30px 0;
  width: 95%;
  margin-inline: auto;
}

input {
  color: rgb(242, 141, 59);
  font-size: 17px;

  width: 100%;
  flex: 1;

  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-weight: 14px;
  border-bottom: 2px solid rgb(245, 158, 51);
}

input::placeholder {
  color: rgba(240, 162, 36, 0.55);
}

button {
  border: none;
  outline: none;

  padding: 15px 35px;
  background: rgb(232, 126, 4);
  color: rgb(255, 255, 255);
  font-size: 1rem;
  cursor: pointer;

  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  transition: 0.2s ease-in-out;
}

button:hover {
  background: #f6ac23;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

ul li {
  font-weight: 700;
  list-style: none;
  font-size: 15px;
  text-transform: capitalize;

  padding: 10px 30px;
  user-select: none;
  width: 80%;
  min-height: 50px;
  margin: 0 auto;
  border-radius: 5rem;

  cursor: pointer;
  position: relative;
  background: rgba(248, 139, 14, 0.08);

  display: flex;
  align-items: center;
  transition: 0.2s ease-in-out;
}

ul li:hover {
  background: rgba(252, 137, 37, 0.2);
}

ul li.checked {
  color: #f86612;
  text-decoration: line-through;
}

ul li span {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  font-size: 1.4rem;
  color: #f26017;
  line-height: 40px;
  text-align: center;
}

ul li span:hover {
  border-radius: 30px;
  background: rgb(248, 163, 17);
  color: white;
}

ul li i {
  pointer-events: none;
}

@media only screen and (max-width: 550px) {
  body {
    margin-top: 5rem;
  }
  .todo-app {
    width: 90%;
  }
  h1 {
    font-size: 15vw;
  }
  ul li {
    width: 90%;
  }
}
